# Xcode
ios-poc/.xcuserdata/
ios-poc/.xcodeproj/project.xcworkspace/
ios-poc/.xcodeproj/xcuserdata/
ios-poc/.xcodeproj/xcuserdata/
ios-poc/.xcodeproj/*.xcuserstate
ios-poc/ios-poc.xcodeproj/project.xcworkspace/xcuserdata
build/
DerivedData/
.DS_Store
